{% extends "layout.html" %}
{% from 'card.html' import recipeCard with context %}
{% block page %}
    <h2>{{ chef.displayname }}</h2>
    <h5>{{ chef.username }}</h5>
    <div class="row">
    {% if current_user == chef or current_user.admin %}
        <form class="col-md-auto" action="/chef/{{ chef.id }}/edit" method="get">
        <button class="btn btn-primary">Edit Chef</button>
        </form>
        <br>
        <form class="col-md-auto" action="/delete/chef/{{ chef.id }}" method="post">
        <button class="btn btn-danger" type="submit">Delete Chef</button>
        </form>
    {% if current_user.admin and chef != current_user %}
    <br>
        {% if chef.admin %}
    <form class="col-md-auto" action="/chef/{{ chef.id }}/take_admin" method="post">
        <button class="btn btn-danger" type="submit">Take Admin</button>
            {% else %}
    <form  class="col-md-auto" action="/chef/{{ chef.id }}/make_admin" method="post">
        <button class="btn btn-warning" type="submit">Make Admin</button>
    {% endif %}
    </form>
    {% endif %}
    {% endif %}
    <br>
        </div>
{% for recipe in recipies %}
{{ recipeCard(recipe) }}
{% endfor %}
{% endblock %}